<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="2 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<!--	<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] [%t] %m - \(%F:%L\)%n</pattern>
		</layout>-->
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] [%t] %m - \(%F:%L\)%n</pattern>
		</encoder>
	</appender>

	<!-- trace/debug/info/warn/error -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
